@charset "utf-8";
/* css초기화 */

* {margin: 0; padding: 0; border: 0;}
ul {list-style: none;}
a {text-decoration: none;}


/* 배경 */
header,body,section{
  background-color: #F7E600;
}
/* 헤더 */
header h1{
  font-size: 54px;
  font-weight: 700;
}

/* 버튼 */
#btn_login{
  background-color: #3A1D1D;
  color: #F7E600;
}
/* SNS */
#SNS_group ul{ 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  
}
#SNS_group ul li{
  margin-right: 20px;
}